* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

/* Background styles */
body,
.footerStyles {
	/* background-color: #50e3c2;
	background-image: radial-gradient(
			at 47% 33%,
			hsl(162, 77%, 40%) 0,
			transparent 59%
		),
		radial-gradient(at 82% 65%, hsl(198, 100%, 50%) 0, transparent 55%); */

	background-image: url("../assets/App_Bg_img.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.card,
.navbar,
.footer {
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.75);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
}

.card-full-body {
	cursor: pointer;
}

.card-bottom-title:hover {
	background: #ffffffa1;
	color: rgb(61, 61, 61) !important;
	font-weight: 600;
	transition: 0.5s;

	padding-bottom: 1rem;
}

.txtClr {
	color: aliceblue !important;
	font-weight: 500;
	text-decoration: none;
	list-style: none;
}

.sideBar {
	position: fixed;
	left: 0;
	margin-left: 1rem;
}

.sideNote {
	position: fixed;
	right: 0;
	margin-right: 1rem;
}

.cardBtn:hover {
	background: lightseagreen;
}

.myIcon:hover {
	color: aqua !important;
}

.theme-toggler:hover {
	color: aqua;
	transition: 0.6s;
	animation: themeToggler 1.5s ease-in-out;
	cursor: pointer;
}

@keyframes themeToggler {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.unsplash_main_section_dark {
	background-color: rgba(17, 25, 40, 0.75);
	color: #fff;
	transition: 0.4s;
}

.unsplash_main_section_light {
	background: #ffffff96;
	color: #000;
	transition: 0.4s;
}

@media (prefers-color-scheme: dark) {
	:root {
		background-color: rgba(17, 25, 40, 0.75);
		color: #fff;
		transition: 0.4s;
	}
}
