* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

/* Background styles */
body,
.footerStyles {
	/* background-color: #50e3c2;
	background-image: radial-gradient(
			at 47% 33%,
			hsl(162, 77%, 40%) 0,
			transparent 59%
		),
		radial-gradient(at 82% 65%, hsl(198, 100%, 50%) 0, transparent 55%); */

	background-image: url("../assets/App_Bg_img.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.card,
.navbar,
.footer {
	/* background: rgba(115, 198, 142, 0.64) !important;
	border-radius: 16px !important;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
	backdrop-filter: blur(10.1px) !important;
	-webkit-backdrop-filter: blur(10.1px) !important; */

	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.75);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
}

.txtClr {
	color: aliceblue !important;
	font-weight: 500;
	text-decoration: none;
	list-style: none;
}

.sideBar {
	position: fixed;
	left: 0;
	margin-left: 1rem;
}

.sideNote {
	position: fixed;
	right: 0;
	margin-right: 1rem;
}

.cardBtn:hover {
	background: lightseagreen;
}

.myIcon {
	/* border: 1px dotted red;
	color: aqua !important; */
}

.myIcon:hover {
	color: aqua !important;
}
